<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PollVote.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ED28794B1D8DAEBD0022A297</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED28795F1D8DAEBE0022A297</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED28796A1D8DAEBE0022A297</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
